/* MAIN global properties */
:root {
	--primary-text-color: #757575;
	--accent-color: #2196F3;
	--title-text-color: #212121;
	--primary-bacground-color: #ffffff;
}

body {
	margin: 0;

	font-family: 'Roboto', sans-serif;
	color: var(--title-text-color);
	font-size: 16px;
	letter-spacing: 0.03em;
	background-color: var(--primary-bacground-color);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

h1, h2, h3, p, ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-inline-start: 0;
}

a {
	font-style: normal;
	text-decoration-line: none;
}

.list {
	list-style: none;
}

button {
	text-decoration: none;
	font-family: inherit;
	border: none;
	cursor: pointer;
}

.container {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;


}

img {
	display: block;
}

/* HEADER */
.h-nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header-block {
	border-bottom: 1px solid #ECECEC;

}

.flex-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;


}

.site-nav {

	display: flex;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;

	
}

.site-nav .item:not(:last-child),
.contact-list .item:not(:last-child) {
	margin-right: 50px;
}

.contact-list {

	margin-left: auto;
	display: flex;
	height: 17px;

}



.logo {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1, 19;
	letter-spacing: 0.03em;
	color: #000000;

	margin-right: 93px;
}


.nav-link {
	color: var(--title-text-color);
	padding-top: 30px;
	padding-bottom: 30px;
	display: block;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.logo-blue, .current {
	color: var(--accent-color);
}

.current {
	position: relative;
}

.current::after {
	position: absolute;
	transform: translateY(44px);

	content: "";

	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--accent-color);
	
	left: 0;


}

.nav-link,
.contact-link {
	font-size: 14px;
	line-height: 1.14;
	font-weight: 500;
	letter-spacing: 0.02em;
}

.contact-link {
	color: var(--primary-text-color);
	display: flex;

	min-width: 143px;
	padding-top: 2px;
	padding-bottom: 2px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moilto {
	display: flex;
	gap: 10px;
}


.contact-link:hover,
.contact-link:focus {
	color: var(--accent-color);
}

.icon {
	display: inline-block;
	height: 12px;
	width: 16px;
	fill: currentColor;
}

.icon-s {
	display: inline-block;
	height: 16px;
	width: 10px;
	fill: currentColor;
}


/* hero */
.hero {
	background-color: #2F303A;

	padding-bottom: 200px;
	padding-top: 200px;

	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

.hero {
	background-image: linear-gradient(to right, rgba(46, 48, 58, 0.41), rgba(47, 47, 58, 0.4)), url("../images/bacground-hero.jpg");
	background-size: cover;

}


.hero-title {
	color: #F5F4FA;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	margin-bottom: 30px;
	max-width: 700px;

	margin-left: auto;
	margin-right: auto;

}

.button-hero {
	background-color: var(--accent-color);
	color: #F5F4FA;

	display: block;
	min-width: 200px;
	height: 50px;
	border-radius: 4px;
	margin-right: auto;
	margin-left: auto;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
	background-color: #188CE8;

}

/* backdropp modal window */
.backdrop {
	position: fixed;
	z-index: 100;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;

}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	width: 528px;
	height: 581px;
	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	padding: 40px;
}

.modal-close {
	position: absolute;
	right: 8px;
	top: 8px;

	width: 30px;
	height: 30px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
	background-color: rgb(255, 255, 255);
	fill: var(--accent-color);
}



.label-phone {
	display: block;
	margin-top: 10px;
}

.label-post {
		display: block;
	margin-top: 10px;}

	.label-coment{
		display: block;
margin-top: 10px;
	}
	.comment-form-area{
		width: 100%;
		height: 120px;
		padding: 12px 16px;

		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
			resize: none;
			transition: border-color  250ms cubic-bezier(0.4, 0, 0.2, 1);

	}

.title-form {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.03em;

	color:var(--title-text-color);

	margin-bottom: 12px;
}

.description-form {
	margin-bottom: 4px;
	display: block;

}

.input-form-box {
	display: block;
	position: relative;
}

.input-form-area {
	width: 100%;
	height: 40px;
	padding-left: 9.37%;
	padding-right: 2%;

	border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border-color  250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.input-form-area:focus , 
.comment-form-area:focus{
outline: 1px solid transparent ;


border-color: var(--accent-color) ;
}
.input-form-area:focus +.icon-input-area{
fill: var(--accent-color) ;
}
.icon-input-area {
	position: absolute;
	top: 50%;
	left: 2.6%;
	transform: translateY(-55%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	
}


.form-text-style {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.2;


	letter-spacing: 0.01em;

	color: #757575;
}

.contact-form-checkbox-desc {
	font-size: 14px;
	display: flex;
	align-items: center;
	margin-bottom: 40px;

	font-size: 14px;
line-height: 1.71;
color: #757575;

margin-left: 13px;
padding-left: 23px; 
position: relative;
}
.icon-check-form-free{
	position: absolute;

top: 50%;
left: 1px;

transform: translateY(-55%);
transform-origin: center center;
fill:#212121 ;

}

.icon-check-form{
	
position: absolute;

top: 50%;
left:1px ;

transform: translateY(-55%);
transform-origin: center center;
fill: transparent ;

transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-check-form-free-focus{
	position: absolute;
	transform-origin: center center;
top: 50%;
left: -2px;

transform: translateY(-53%);
fill: transparent ;

transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-form-checkbox:checked +.contact-form-checkbox-desc>span>.icon-check-form,
.contact-form-checkbox:checked +.contact-form-checkbox-desc>span>.icon-check-form-free{
fill: var(--accent-color) ;

}

.contact-form-checkbox:checked:focus +.contact-form-checkbox-desc>span>.icon-check-form-free-focus,
.contact-form-checkbox:focus +.contact-form-checkbox-desc>span>.icon-check-form-free-focus,
.contact-form-checkbox:focus-visible +.contact-form-checkbox-desc>span>.icon-check-form-free-focus {
	fill: #000000;
}

.contact-form-checkbox:checked +.contact-form-checkbox-desc>span>.icon-check-form-free-focus{
	fill: transparent ;
}

/* Приимущества */
.benefits {
	padding-top: 94px;
}

.benefits .list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	justify-content: center;
}

.benefit-top-box {
	width: 270px;
	height: 120px;

	background: #F5F4FA;
	border-radius: 4px;
	margin-bottom: 30px;

	display: flex;
	align-items: center;
	justify-content: center;

}

.benefit-logo {
	width: 70px;
	height: 70px;

}

.benefits-title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 10px;

}

.item-benefit {
	min-height: 100px;
	max-width: 270px;
}



.benefits-text {
	font-size: 14px;
	line-height: 1.71;
	color: var(--primary-text-color);
	font-weight: 400;
	margin-block-end: 0;
	margin-block-start: 0;
}


.section-title {
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 50px;
}

/* works */


.works .list {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;

	justify-content: center;
}

.works {
	padding-top: 0px;
}

.item-works {
	position: relative;
}

.item-works-label {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
	bottom: 0%;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	color: #ffffff;
}

/* stuff */
.team {
	background-color: #F5F4FA;
}

.team .list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding-inline-start: 0;

	justify-content: center;
}

.item-stuff {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	padding-bottom: 32px;
}


.employee-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;

	padding-top: 30px;
	margin-bottom: 10px;
}

.employee-position {
	color: var(--primary-text-color);
	line-height: 1.19;
	font-weight: 400;

	margin: 0;
	text-align: center;


}

.employee-list-media {
	justify-content: center;

	margin-top: 16px;

	display: flex;
	list-style: none;
	gap: 10px;

}

.item-media {}

.link-media {
	border-radius: 50%;

	display: flex;

	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-svg {
	fill: #AFB1B8;



	/* border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    border-top-left-radius: 18%;
    border-top-right-radius: 27%; */

	width: 20px;
	height: 20px;

	transition: fill 185ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-media:hover .media-svg,
.link-media:focus .media-svg {
	fill: white;

}

.link-media:hover, .link-media:focus {
	background-color: var(--accent-color);
}

/* Clients */


.clients-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;

}

.clients-item {}

.clients-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;


	width: 170px;
	height: 92px;
	border: 1px solid #AFB1B8;
	border-radius: 4px;
	fill: #AFB1B8;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 20ms,
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.clients-link:hover .clients-icon,
.clients-link:hover,
.clients-link:focus .clients-icon,
.clients-link:focus {
	border-color: var(--accent-color);
	fill: var(--accent-color);

}



/* portfolio */
.examples {}



.button-portfolio {
	background-color: #F5F4FA;
	color: var(--title-text-color);
	line-height: 1.62;
	font-weight: 500;

	padding: 6px 22px;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.current-btn {
	background-color: var(--accent-color);
	color: #ffffff;
}

.button-portfolio:hover,
.button-portfolio:focus {
	background-color: var(--accent-color);
	color: #ffffff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
		0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);

}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
}


.examples-img {
	max-width: 100%;
	height: auto;
}


.examples-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	color: var(--title-text-color);
	margin-bottom: 5px;

}


.item-portfolio {
	width: 370px;

	background: #FFFFFF;

}

.portfolio-hiden-discription-parent {
	position: relative;
	overflow: hidden;
}

.portfolio-hiden-discription-child {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	color: #FFFFFF;

	transform: translateY(101%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	padding: 63px 24px;

}

.item-lin-portfolio:hover,
.item-lin-portfolio:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
		0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-lin-portfolio {
	display: inline-block;
	width: 100%;
	height: 100%;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.item-lin-portfolio:hover .portfolio-hiden-discription-child,
.item-lin-portfolio:focus .portfolio-hiden-discription-child {
	transform: translateY(0%);

}

.border-botom {
	border-bottom: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;

	padding: 20px 22px;
}



.examples {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 50px;

	justify-content: center;
}



.examples-text {
	color: var(--primary-text-color);
	line-height: 1.88;
	font-weight: 400;
}

/* futer */
footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #2F303A;
	min-height: 250px;
}





.address-ofice,
footer .contact-link {
	display: block;
	font-size: 14px;
	line-height: 1.71;
	font-weight: 400;

}

footer .logo,
.address-ofice {
	color: #ffffff;

}

footer .logo {
	display: block;
	margin-bottom: 20px;
}

.list .footer-item:not(:last-child) {
	margin-bottom: 9px;
}

footer .contact-link {
	color: rgba(255, 255, 255, 0.6);
}

footer>.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.footer-adress {
	width: 220px;
	margin-right: 77px;
}

.footer-media {
	
}

.footer-media>h2 {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}

.footer-media .link-media {
	background-color: rgba(255, 255, 255, 0.1);
}

.footer-media .link-media:hover,
.footer-media .link-media:focus {
	background-color: var(--accent-color);
}


.box-footer-form {
	display: block;
	margin-left: auto;
	
}

.footer-form {
	display: flex;
flex-wrap: wrap;
}

.btn-footer-form {
	display: flex;

	margin-left: 12px;

	align-items: center;
	justify-content: center;
	padding: 10px 28px;

	width: 200px;
	height: 50px;

	background: #2196F3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	color: #ffffff;
}

.input-footer-form {
	width: 358px;
	
	height: 50px;
	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	line-height: 1.25;
	font-weight: 400;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
	padding-left: 16px;
}

.label-footer-form {
	display: block;
	padding-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	color: #ffffff;
}

.label-footer-form {}

.icon-footer-form {
	margin-left: 10px;
}