.main-footer{
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #2F303A;
	min-height: 250px;
}

.address__office,
footer .address__link {
	display: block;
	font-size: 14px;
	line-height: 1.71;
	font-weight: 400;

}

footer .logo,
.address__office {
	color: #ffffff;

}

footer .logo {
	display: block;
	margin-bottom: 20px;
}

.addres__item:not(:last-child) {
	margin-bottom: 9px;
}

footer .address__link {
	color: rgba(255, 255, 255, 0.6);
}

.footer-container {
	@extend %flex-center;

	flex-wrap: wrap;
}

.footer-adress {
	width: 220px;
	margin-right: 77px;
}


.footer-media__title {
		@include font(14px, 700, 16.8px);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}

.footer-media__link {
	background-color: rgba(255, 255, 255, 0.1);
&:hover,
&:focus {
	background-color: var(--accent-color);
}}




